@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.sideBar{
	height: 100vh;    
	background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(45,45,57,1) 35%, rgba(53,97,106,1) 100%);
	color: white;
	position: fixed;

}
.btnCenter{
	position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.myBtn{
	font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #35616a;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}